html {
	overflow-y:hidden;
}

body {
	margin: 0px;
    background: #000000;
    color: #dfdfdf;
	text-align: left;	
	font-size: 100%;
	font-family: Calibri, sans-serif;
}


.maindiv {
	overflow:hidden;
}

* {
	margin:0px;
}


.circlelink {
	height: 500px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
 
}

.circlelink img {
	height: 100%;
	width: 100%;
	display: block;
}

.curtainFrame{
	display:none;
	position:relative;
	z-index:2;
	top:-649px;
	right:-1px;
	height:100%;
	width:100%;
	/*background:#FFAA00;*/
}

.circlelink:hover .curtainFrame{
	display:block;
}

.curtain {
	display:none;
	height:100%;
	width:100%;
}

#imgdefault {
	display:block;
}



#log {
	width: 500px;
	display:none;
}

#log2{
	
	display:none;
	display:inline;/**/
}

a{
     text-decoration:none;
     font-weight:bold;
}

a:link, a:visited {
     color:#940094;
}

a:active, a:hover {
     color:#80aa80;
}